@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Interclasse do Basilides de Godoy</h1>
    <partial name="_Carrossel" />
</div>

<p class="fs-1 text-center fw-bold ">Times Principais</p>
<p class="text-center fw-medium fs-4">
    Na ETEC Basilides de Godoy, o espírito de equipe e a paixão pelos jogos estão prestes a ganhar uma nova dimensão
    com a criação do time "Computeiros". Formado por alunos do curso de Desenvolvimento de Sistemas, esse time não é apenas uma combinação 
    de habilidades técnicas, mas também uma celebração da amizade e da colaboração entre os estudantes. </p>

<div class="d-flex justify-content-around">
    <div class="card" style="width: 25rem;">
        <img src="~/images/computeiros.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Computeiros é um time do segundo ano de Desenvolvimento de Sistemas manhã na etec professor basilides de godoy o 
                time se iniciou em 2024 jogando principalmente as modalidades de futsal,queimada handebol masculino e feminino entre outras. Desde 
                se sua criação ganhou somente o EPT um campeonato de futsal com os times mesclados, porém no interclasse nenhum título até o momento.</p>
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <img src="~/images/mecabet.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Mecabet é um time do segundo ano de mecatronica manhã na etec professor basilides de godoy que joga principalmente 
                as modalidades de futsal, vôlei, queimada entre outras. Desde sua criação o time ganhou o vice-campeonato do EPT, porém é um dos 
                favoritos a o futsal desse ano.</p>
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <img src="~/images/mequadrilha.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Mequadrilha um time do terceiro ano de mecatronica tarde na etec professor basilides de godoy que joga 
                principalmente as modalidades de futsal, vôlei, queimada entre outras. O time até o momento não ganhou nenhum título porém é 
                um dos melhores times da tarde e favorito para os campeonatos de futsal e vôlei.</p>
        </div>
    </div>
</div>

<div class="d-flex justify-content-around">
    <div class="card" style="width: 25rem;">
        <img src="~/images/lsd.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">LSD um time do terceiro ano de logística manhã na etec professor basilides de godoy que joga principalmente as 
                modalidades de futsal feminino, handebol feminino, queimada entre outras. O time até o momento tem alguns títulos dentre eles: 
                campeão futsal feminino 2024, vice campeão handebol feminino 2024 e basquete 3x3, o time de LSD é um dos favoritos nos esportes 
                femininos porém não tão dominante entre outras tirando queimada</p>
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <img src="~/images/marketada.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Marketada um time do terceiro ano de marketing manhã na etec professor basilides de godoy que joga principalmente 
                as modalidades de futsal feminino, handebol entre outras. O time de marketada não ganhou nenhum campeonato somente um vice-campeonato 
                quando juntou com o time de markeavélicos em 2024 porém fora isso não ganhou nenhum título. É um time que normalmente briga por fora 
                nas modalidades.</p>
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <img src="~/images/mecatastrofe.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Mecatastrofe é um time do primeiro ano de mecatronica manhã na etec professor basilides de godoy que joga 
                principalmente as modalidades de futsal, vôlei, queimada entre outras. Não ganhou nenhum título até o momento porém 
                é um time que promete para os próximos anos</p>
        </div>
    </div>
</div> 